# Python
__pycache__/
*.py[cod]
*.db

# Node
node_modules/
npm-debug.log*

# Environment
.env
.env.local
.venv
venv/

# IDE / Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel/

# Logs
logs/
*.log
.vercel
